.custB {
    background-color: rgba(245, 245, 245, 0.8);
    min-width: 90%;
}

.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    color: #0d47a1;
    background-color: #0d47a1;
    border-color: #0d47a1;
}

.custW {
    max-width: 100vh;
}

.fit {
    max-width: 100vh;
    width: fit-content;
    overflow: auto;
}

.fit button {
    width: 95%;
}

@media screen and (max-width: 768px) {
    .container {
        min-width: 95vw !important;
    }
}