<div class="container text-center centerGlobal m-2">
    <div class="card custB p-3">
        <div class="card-body">
            <h1><b>{{'adminPage' | translate}}</b></h1>
            <br *ngIf="user" />
            <h3 *ngIf="user">{{user.name}} {{user.surname}}</h3>
            <hr />
            <div class="row text-center centerGlobal">
                <div class="fit">
                    <button mdbBtn class="text-nowrap" type="button" color="success" (click)="newDoctorLicenseModal.show()" mdbWavesEffect>{{'newDoctorLicense' | translate}}</button>
                    <button mdbBtn class="text-nowrap" type="button" color="success" (click)="newInvoiceModal.show()" mdbWavesEffect>{{'newInvoice' | translate}}</button>
                    <hr />
                    <button mdbBtn class="text-nowrap" type="button" color="success" routerLink="/visit-manage" mdbWavesEffect>{{'manageVisit' | translate}}</button>
                    <button mdbBtn class="text-nowrap" type="button" color="success" routerLink="/test-manage" mdbWavesEffect>{{'manageTest' | translate}}</button>
                    <button mdbBtn class="text-nowrap" type="button" color="success" routerLink="/procedure-manage" mdbWavesEffect>{{'manageProcedure' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #newDoctorLicenseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNewDoctorLicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body scroll">
                <app-doctor-license-generate [id]="newDoctorLicenseModal"></app-doctor-license-generate>
            </div>
        </div>
    </div>
</div>
<div mdbModal #newInvoiceModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myNewInvoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body scroll">
                <app-invoice-generate [id]="newInvoiceModal"></app-invoice-generate>
            </div>
        </div>
    </div>
</div>