.myCard {
    padding: 3%;
    margin-right: 1%;
}

.myCard>p {
    font-weight: 300;
}

i {
    font-size: 2em;
}

p {
    text-align: justify;
    font-weight: 400;
}

#red {
    color: red;
}

h1,
h2,
h5 {
    font-weight: bold;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.myContainer1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.color1 {
    background-color: lightgray;
}

.base-color-bg {
    background-color: #3F51B5;
    color: white;
}

.base-color-opacity {
    background-color: rgba(63, 81, 181, 0.8);
    color: white;
}

.nav-pills>li>a.active {
    background-color: #3F51B5;
    color: white;
}

.nav-pills>li>a {
    color: #3F51B5;
}

.base-color-font {
    color: #3F51B5;
}

.space {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* The image used */
    background-image: url("../../assets/files/background.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-y;
}

.centered {
    display: flex;
}

.space1 {
    min-height: 100vh !important;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.smaller {
    align-items: center;
    justify-content: center;
    min-height: 10% !important;
    height: auto;
    width: 90%;
    visibility: hidden;
}

.smaller1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 10% !important;
    height: auto;
    width: 90%;
}

.fab {
    cursor: pointer;
    color: white;
}

.fab:hover {
    color: #FF4081;
}

@media screen and (max-width: 768px) {
    #home > div > a > button {
        width: 100%;
    }
    #read {
        max-width: 100vw;
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    #photo {
        text-align: center;
    }
    #meet, #pricing, #write {
        max-width: 100vw;
    }
    #pricing {
        padding: 0 !important;
    }
    #services {
        padding: 20px !important;
    }
    p.p-5 {
        padding: 15px !important
    }
    p {
        text-align: justify !important;
    }
}

@media screen and (min-width: 768px) {
    .smaller {
        width: 50%;
    }
    .smaller1 {
        width: 70%;
    }
    .p1 {
        padding-left: 15%;
        padding-right: 15%;
    }
}