<div>
    <div class="space">
        <div id="home" class="smaller fadeInLeft wow" data-wow-delay="0.2s">
            <h1>{{'welcome' | translate}}</h1>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</p>
            <div>
                <a href="#read">
                    <button mdbBtn type="button" class="base-color-bg" mdbWavesEffect>{{'read' | translate}}</button>
                </a>
                <a href="#write">
                    <button mdbBtn type="button" class="base-color-bg" mdbWavesEffect>{{'write' | translate}}</button>
                </a>
                <a href="#buy">
                    <button mdbBtn type="button" color="success" mdbWavesEffect>{{'buy' | translate}}</button>
                </a>
            </div>
        </div>
    </div>
    <div class="space1 fadeIn wow" data-wow-delay="0.2s">
        <br/>
        <br/>
        <div id="treatments" class="smaller1 text-center">
            <h1>{{'treatments' | translate}}</h1>
            <br />
            <p class="p1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores reiciendis ad voluptas, animi obcaecati adipisci sapiente mollitia? Autem delectus quod accusamus tempora, aperiam minima assumenda deleniti
                hic.
            </p>
            <br />
            <div class="row my-4 text-center">
                <div class="col-sm mb-4 card hoverable myCard fadeIn wow" data-wow-delay="0.4s">
                    <i class="fas fa-heart base-color-font mb-4"></i>
                    <h5 class="mb-4">{{'experience' | translate}}</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <div class="col-sm mb-4 card hoverable myCard fadeIn wow" data-wow-delay="0.4s">
                    <i class="fas fa-eye base-color-font mb-4"></i>
                    <h5 class="mb-4">{{'protection' | translate}}</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <div class="col-sm mb-4 card hoverable myCard fadeIn wow" data-wow-delay="0.4s">
                    <i class="fas fa-briefcase-medical base-color-font mb-4"></i>
                    <h5 class="mb-4">{{'qualifications' | translate}}</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-xl-3 col-md-6 px-0">
                <div class="waves-effect waves-light">
                    <a href="#">
                        <div class="view overlay">
                            <img src="../../../assets/files/40.jpg" class="img-fluid" alt>
                            <div class="mask flex-center base-color-opacity">
                                <h4 class="white-text">Lorem ipsum dolor sit amet</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 px-0">
                <div class="waves-effect waves-light">
                    <a href="#">
                        <div class="view overlay">
                            <img src="../../../assets/files/39.jpg" class="img-fluid" alt>
                            <div class="mask flex-center base-color-opacity">
                                <h4 class="text-white">Lorem ipsum dolor sit amet</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 px-0">
                <div class="waves-effect waves-light">
                    <a href="#">
                        <div class="view overlay">
                            <img src="../../../assets/files/38.jpg" class="img-fluid" alt>
                            <div class="mask flex-center base-color-opacity">
                                <h4 class="text-white">Lorem ipsum dolor sit amet</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 px-0">
                <div class="waves-effect waves-light">
                    <a href="#">
                        <div class="view overlay">
                            <img src="../../../assets/files/41.jpg" class="img-fluid" alt>
                            <div class="mask flex-center base-color-opacity">
                                <h4 class="text-white">Lorem ipsum dolor sit amet</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="read" class="container mb-5 mt-5 pt-5">
        <div class="row pt-5">
            <div id="services" class="col-md-7 mb-2 wow fadeIn p-5" data-wow-delay="0.2s">
                <h2 class="mb-3">{{'service' | translate}}</h2>
                <h4 class="mb-5">{{'read1' | translate}}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi. Rem magnam
                    ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit.</p>
                <p>Qui expedita sit quo, maxime molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque repellendus voluptatum.</p>
                <a href="#treatments">
                    <button mdbBtn type="button" class="base-color-bg" mdbWavesEffect>{{'more' | translate}}</button>
                </a>
            </div>
            <div id="photo" class="col-lg-4 col-md-5 mb-5 wow fadeIn ml-lg-auto" data-wow-delay="0.3s">
                <img class="img-fluid" src="../../../assets/files/img.jpg">
            </div>
        </div>
    </div>
    <div id="meet" class="container">
        <div class="mt-4 mb-2">
            <h1 class="text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                {{'meet' | translate}}
            </h1>
            <p class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="row wow fadeIn" data-wow-delay="0.4s">
                <div class="col-md-12">
                    <div class="mb-2">

                        <ul class="nav nav-pills mb-3 flex-center" id="pills-tab" role="tablist">
                            <li class="nav-item text-center mr-2">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <i class="far fa-2x fa-user"></i>
                                    <br /> {{'doctorName1' | translate}}</a>
                            </li>
                            <li class="nav-item text-center mr-2">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    <i class="far fa-2x fa-user"></i>
                                    <br /> {{'doctorName2' | translate}}</a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                    <i class="far fa-2x fa-user"></i>
                                    <br /> {{'doctorName3' | translate}}</a>
                            </li>
                        </ul>

                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <br />
                            <div class="row d-flex justify-content-center">
                                <div class="view overlay">
                                    <img src="../../../assets/files/doc1.jpg">
                                </div>
                                <div class="col-lg-6 col-md-12 text-center p-3">
                                    <h4 class="mb-3 font-weight-bold">{{'doctorName1' | translate}}</h4>
                                    <p class="p-5" align="justify">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.Rem magnam ad perferendis
                                        iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <br />
                            <div class="row d-flex justify-content-center">
                                <div class="view overlay">
                                    <img src="../../../assets/files/doc2.jpg">
                                </div>
                                <div class="col-lg-6 col-md-12 text-center p-3">
                                    <h4 class="mb-3 font-weight-bold">{{'doctorName2' | translate}}</h4>
                                    <p class="p-5" align="justify">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.Rem magnam ad perferendis
                                        iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <br />
                            <div class="row d-flex justify-content-center">
                                <div class="view overlay">
                                    <img src="../../../assets/files/doc3.jpg">
                                </div>
                                <div class="col-lg-6 col-md-12 text-center p-3">
                                    <h4 class="mb-3 font-weight-bold">{{'doctorName3' | translate}}</h4>
                                    <p class="p-5" align="justify">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.Rem magnam ad perferendis
                                        iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid lighten-3 wow fadeIn" data-wow-delay="0.3s">
        <div id="pricing" class="container">
            <div class="pb-1 pt-3">
                <h1 id="buy" class="text-center mb-5 h1 pt-5">{{'pricingPlans' | translate}}</h1>
                <p class="text-center mx-auto my-5">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4 text-center">
                        <div class="card" *ngIf="basicPackage">
                            <div class="header text-white rounded-top color1">
                                <div class="version base-color-bg p-3">
                                    <h5 class="mb-0">{{'basic' | translate}}</h5>
                                </div>
                                <h1 class="number p-5 black-text">
                                    {{basicPackagePrice}} {{'currency' | translate}} / {{'day' | translate}}
                                </h1>
                            </div>
                            <div class="card-body striped">
                                <ul class="mb-4 list-unstyled" *ngFor="let item of basicPackage">
                                    <span>
                                        <li class="mt-1">
                                            <p class="text-center">
                                                <i class="fas fa-check"></i>
                                                {{item.name | translate}}
                                            </p>
                                        </li>
                                        <hr />
                                    </span>
                                </ul>
                                <button id="buyNow" class="btn btn-success mb-3 waves-effect waves-light" (click)="onBuyClick('BASIC')">
                                    {{'buyNow' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4 text-center">
                        <div class="card">
                            <div class="header text-white rounded-top color1">
                                <div class="version base-color-bg p-3">
                                    <h5 class="mb-0">{{'own' | translate}}</h5>
                                </div>
                                <h1 class="number p-5 black-text">
                                    ? {{'currency' | translate}} / {{'day' | translate}}
                                </h1>
                            </div>
                            <div class="card-body striped">
                                <ul class="mb-4 list-unstyled" *ngFor="let item of ownPackageLabels">
                                    <span>
                                        <li class="mt-1">
                                            <p class="text-center">
                                                <i class="fas fa-check"></i>
                                                {{item}}
                                            </p>
                                        </li>
                                        <hr />
                                    </span>
                                </ul>
                                <button class="btn btn-success mb-3 waves-effect waves-light" (click)="onBuyClick('OWN')">
                                    {{'buyNow' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="write" class="container wow fadeIn" data-wow-delay="0.3s">
        <div class="my-5">
            <div class="card">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body form">
                            <h6>
                                <i class="fas fa-envelope pr-2"> {{'write' | translate}}</i>
                            </h6>
                            <br />
                            <form [formGroup]="messageForm" #formDirective="ngForm" (ngSubmit)="send(formDirective)">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="example-container text-left mb-2">
                                            <mat-form-field class="p-0 m-0">
                                                <input autocomplete="off" matInput type="text" placeholder="{{'name' | translate}}" formControlName="name" required>
                                                <mat-error>{{ formErrors.name }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="example-container text-left mb-2">
                                            <mat-form-field id="mail" class="p-0 m-0">
                                                <input autocomplete="off" matInput type="email" placeholder="{{'email' | translate}}" formControlName="email" required>
                                                <mat-error>{{ formErrors.email }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="example-container text-left mb-2">
                                            <mat-form-field id="phone" class="p-0 m-0">
                                                <input autocomplete="off" matInput type="text" placeholder="{{'phone' | translate}}" formControlName="phone">
                                                <mat-error>{{ formErrors.phone }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="example-container text-left mb-2">
                                            <mat-form-field class="p-0 m-0">
                                                <input autocomplete="off" matInput type="text" placeholder="{{'company' | translate}}" formControlName="company">
                                                <mat-error>{{ formErrors.company }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-0">
                                            <div class="example-container text-left mb-2">
                                                <mat-form-field class="p-0 m-0">
                                                    <textarea rows="4" autocomplete="off" matInput type="text" placeholder="{{'message' | translate}}" formControlName="message" required></textarea>
                                                    <mat-error>{{ formErrors.message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div [ngStyle]="{'width':'100%'}" class="text-right">
                                                <button [disabled]="!messageForm.valid" mdbBtn type="button" color="success" type="submit" mdbWavesEffect>
                                                    <i class="far fa-paper-plane">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 base-color-bg">
                        <div class="card-body text-center h-100 text-white darkenblue">
                            <h3 class="my-4 pb-2">{{'contact' | translate}}</h3>
                            <br />
                            <ul class="text-left list-unstyled ml-4">
                                <li>
                                    <div class="row">
                                        <i class="fas fa-map-marked-alt pr-2 text-white">
                                        </i>
                                        <p>{{'address' | translate}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-phone pr-2 text-white">
                                        </i>
                                        <p>{{'phoneNr' | translate}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <i class="fas fa-envelope pr-2 text-white">
                                        </i>
                                        <p>{{'ourEmail' | translate}}</p>
                                    </div>
                                </li>
                            </ul>
                            <hr class="my-4">
                            <ul class="list-inline text-center list-unstyled">
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg view overlay zoom" href="https://twitter.com/?lang=en" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg" href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg" href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="p2 fa-lg" href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>