<div *ngIf="componentPending" class="centerSpinner">
    <div class="spinner-border biggerS" role="status"></div>
</div>
<div [hidden]="componentPending" class="container margins">
    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'manageVisit' | translate}}
        </mdb-badge>
    </div>
    <div *ngIf="pageData.length > 0" class="scroll custB">
        <table mdbTable [formGroup]="userGroup">
            <thead class="custH borders">
                <tr>
                    <th class="center1" scope="col" (click)="selectAll()">
                        <mat-checkbox formControlName="currSelectState"></mat-checkbox>
                    </th>
                    <th class="center1" *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody formArrayName="userForm" *ngFor="let item of userForm.controls; let i = index;">
                <tr [formGroupName]="i" class="text-nowrap">
                    <td class="center1">
                        <mat-checkbox formControlName="select"></mat-checkbox>
                    </td>
                    <td class="center1">
                        {{pageData[i].doctor.name}} {{pageData[i].doctor.surname}}
                    </td>
                    <td class="center1">
                        {{pageData[i].license.name | translate}}
                    </td>
                    <td class="center1">
                        {{pageData[i].office.number}}
                    </td>
                    <td class="center1">
                        <div *ngIf="users.length === 0" class="spinner-border-sm spinner-border text-dark" role="status"></div>
                        <mat-form-field *ngIf="users.length > 0" class="example-full-width">
                            <input formControlName="data" value="" type="text" aria-label="Number" matInput [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let user of filteredUsers" [value]="user.name + ' ' + user.surname">
                                    {{user.name}} {{user.surname}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-icon class="p-3" [hidden]="users.length === 0 || userForm.controls[i]['controls']['data'].enabled" (click)="onBuild(i)">
                            build</mat-icon>
                        <mat-icon class="green-text p-3" [hidden]="users.length === 0 || !userForm.controls[i]['controls']['data'].enabled" (click)="onDone(i)">
                            done</mat-icon>
                        <mat-icon class="red-text p-3" [hidden]="users.length === 0 || !userForm.controls[i]['controls']['data'].enabled" (click)="onClear(i)">
                            redo</mat-icon>
                    </td>
                    <td class="center1">
                        {{pageData[i].time | formatDate: true}}
                    </td>
                    <td class="center1">
                        <mat-icon class="fa-3x red-text" (click)="onRemove([i])">highlight_off</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [hidden]="pageData.length === 0" [pageIndex]="page.pageNumber" class="custH borders" (page)="onPaginateChange($event)" [length]="dataLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
    <br *ngIf="pageData.length > 0" />
    <div *ngIf="pageData.length == 0" class="centerGlobal animated fadeIn mb-3">
        <div class="card custB fit">
            <div class="card-body">
                <h4><strong>{{'noAppointments' | translate}}</strong></h4>
            </div>
        </div>
    </div>
    <div class="center row animated fadeIn mt-1" data-wow-delay="0.4">
        <button mat-raised-button color="primary" class="m-1" (click)="newVisitModal.show()">
            <mat-icon>add</mat-icon>{{'generateVisit' | translate}}
        </button>
        <button *ngIf="pageData.length > 0" class="m-1" mat-raised-button color="warn" (click)="onRemoveAll()">
            <mat-icon>clear</mat-icon>{{'removeSelected' | translate}}
        </button>
    </div>
</div>

<div mdbModal #newVisitModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mynewVisitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body scroll">
                <app-visit-generate [id]="newVisitModal"></app-visit-generate>
            </div>
        </div>
    </div>
</div>