mdb-badge {
    min-width: 50%;
    width: auto;
    font-size: 130%;
    margin-bottom: 3%;
    opacity: 0.8;
    background-color: #283593;
}

.c {
    background-color: #283593 !important;
}

input:disabled {
    color: black;
}

.margins {
    margin-top: 2%;
    margin-bottom: 2%;
}

.badgeCont {
    width: 100%;
    text-align: center;
}

.custH {
    background-color: whitesmoke;
}

.custB {
    background-color: rgba(245, 245, 245, 0.8);
}

.scroll {
    max-width: 100%;
    max-height: 65vh;
    overflow: auto;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.center1 {
    vertical-align: middle;
    text-align: center;
}

mat-icon {
    cursor: pointer;
}

.centerSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.biggerS {
    width: 5rem;
    height: 5rem;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
    mdb-badge {
        width: 90%;
    }
}