<!-- Footer -->
<footer class="page-footer font-small navbar-dark indigo">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 white-text">2020 Med</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->