app-visits,
app-login,
app-register,
app-tests,
app-procedures,
app-messenger,
app-home-patient,
app-error,
app-home-admin,
app-generate,
app-home-messages,
app-visit-manage,
app-test-manage,
app-procedure-manage {
    background: url("../assets/files/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 90vh;
    width: 100%;
}

.bg {
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    display: block;
}

app-register {
    justify-content: center;
    align-items: center;
}