<div class="container margins center1">
    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'newInvoice' | translate}}
        </mdb-badge>
    </div>

    <div class="p-3">

        <div class="addForm">
            <form [formGroup]="generateInvoiceForm" #formDirective="ngForm">
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseUser' | translate}}" formControlName="user">
                                <mat-option *ngFor="let i of users; let j=index" value="{{j}}">{{i.name}} {{i.surname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <input autocomplete="off" matInput placeholder="{{'typeFee' | translate}}" formControlName="fee">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="{{'chooseExposure' | translate}}" formControlName="exposure" autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="{{'chooseDeadline' | translate}}" formControlName="deadline" autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <div class="row center1">
                <button mdbBtn type="button" color="danger" type="submit" mdbWavesEffect (click)="close()">{{'close' | translate}}</button>
                <button [disabled]="!(generateInvoiceForm.valid)" mdbBtn type="button" color="success" (click)="generate(formDirective)" type="submit" mdbWavesEffect>{{'generate' | translate}}</button>
            </div>
        </div>
    </div>
</div>