<div *ngIf="componentPending" class="centerSpinner">
    <div class="spinner-border biggerS" role="status"></div>
</div>
<div [hidden]="componentPending" class="container margins">

    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'yourAppointments' | translate}}
        </mdb-badge>
    </div>
    <div *ngIf="yourVisits.length > 0" class="scroll center custB">
        <table mdbTable>
            <thead class="custH borders smoke">
                <tr>
                    <th *ngFor="let head of headers; let i = index" scope="col">{{head}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of yourVisits; let i = index">
                    <th>{{el.doctor.name}} {{el.doctor.surname}}</th>
                    <td>
                        {{el.license.name | translate}}</td>
                    <td>
                        {{el.time | formatDate: true}}
                    </td>
                    <td>
                        {{el.office.number}}</td>
                    <td>
                        <mat-icon class="fa-3x red-text" (click)="bookVisit(el, false)">clear</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [hidden]="yourVisits.length === 0" [pageIndex]="page.pageNumber" class="custH borders" (page)="onPaginateChange($event)" [length]="yourVisitsLength" [pageSize]="page.size" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
    <br *ngIf="yourVisits.length > 0" />
    <div *ngIf="yourVisits.length === 0" class="centerGlobal animated fadeIn mb-3">
        <div class="card custB fit">
            <div class="card-body borders">
                <h4><strong>{{'noAppointments' | translate}}</strong></h4>
            </div>
        </div>
    </div>

    <button class="center animated fadeIn mt-1" mat-raised-button color="primary" (click)="showAddFormFn()" data-wow-delay="0.4">
        <mat-icon>add</mat-icon>{{'newVisit' | translate}}
    </button>

    <div *ngIf="showAddForm" class="animated fadeIn mt-3">
        <form [formGroup]="visitForm" (ngSubmit)="filterVisits()">
            <div class="addForm borders row mar">
                <div class="col col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="{{'chooseType' | translate}}" formControlName="license" (selectionChange)="onLicenseChoose()">
                            <mat-option *ngFor="let i of licenses" value="{{i.name}}">{{i.name | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="{{'chooseDoctor' | translate}}" formControlName="doctorName" (selectionChange)="onDoctorChoose()">
                            <mat-option *ngFor="let i of doctors" value="{{i.name}} {{i.surname}}">{{i.name}} {{i.surname}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-md-3">
                    <mat-form-field>
                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="{{'chooseDate' | translate}}" (dateChange)="onDateChoose()" formControlName="date" autocomplete="off" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col col-md-1 center">
                    <button [disabled]="!valid" class="custBtn" type="submit" mat-raised-button color="primary">{{'filter' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="showFiltered && showAddForm" class="wow fadeIn" data-wow-delay="0.3s">

        <br/>
        <div class="margin center">
            <br />
            <table [hidden]="filteredVisits.length === 0" mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true" class="custB">
                <thead class="custH borders">
                    <tr>
                        <th *ngFor="let head of filteredHeaders; let i = index" scope="col">{{head}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of filteredVisits; let i = index">
                        <th scope="row">{{el.doctor.name}} {{el.doctor.surname}}</th>
                        <td>
                            {{el.license.name | translate}}</td>
                        <td>
                            {{el.time | formatDate: true}}
                        </td>
                        <td>
                            {{el.office.number}}</td>
                        <td>
                            <mat-icon class="fa-3x green-text" (click)="bookVisit(el, true)">add</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="filteredVisits.length === 0" class="centerGlobal animated fadeIn">
                <div class="card custB fit">
                    <div class="card-body borders">
                        <h4><strong>{{'noAppointmentsDate' | translate}}</strong></h4>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

</div>