.custB {
    background-color: rgba(245, 245, 245, 0.8);
    min-width: 80%;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    color: #0d47a1;
    background-color: #0d47a1;
    border-color: #0d47a1;
}

.size1 {
    font-size: 600%;
}

.size2 {
    font-size: 300%;
}