<div class="container text-center">
    <div class="card custB p-3">
        <div class="card-body">
            <h1 class="size1"><b>404</b></h1>
            <h1 class="size2">{{'notFound' | translate}}</h1>
            <hr/>
            <button mdbBtn type="button" color="success" (click)="toHome()" mdbWavesEffect>{{'backToHome' | translate}}</button>
        </div>
    </div>
</div>