.background {
    background-color: rgba(255, 255, 255, 0.9);
}

.color1 {
    background-color: lightgray;
}

.color2 {
    color: white;
    background-color: #3F51B5;
}

.myCont {
    min-width: 70% !important;
    width: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.scroll-cust {
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
}

mat-icon {
    cursor: pointer;
}

mdb-icon {
    cursor: pointer;
}

.m-cust {
    margin: 0 5%;
}

.display-i {
    display: inline-block;
}

.link {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #1e2775;
    text-decoration: underline;
}

.center1 {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .myCont {
        margin: 48px 10px !important;
    }
}