<div class="fadeIn m-5 myCont">
    <div>
        <div class="card text-center p-3 background">
            <h2 class="font-weight-bold">{{'register' | translate}}</h2>
            <form [formGroup]="registerForm">
                <div class="row">
                    <div class="col-lg-7 text-center">
                        <div class="card-body">

                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput type="text" placeholder="{{'username' | translate}}" formControlName="username" required>
                                    <mat-error>{{ formErrors.username }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'name' | translate}}" formControlName="name" required>
                                    <mat-error>{{ formErrors.name }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'surname' | translate}}" formControlName="surname" required>
                                    <mat-error>{{ formErrors.surname }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'street' | translate}}" formControlName="street" required>
                                    <mat-error>{{ formErrors.street }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'houseNumber' | translate}}" formControlName="houseNumber" required>
                                    <mat-error>{{ formErrors.houseNumber }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'apartmentNumber' | translate}}" formControlName="apartmentNumber">
                                    <mat-error>{{ formErrors.apartmentNumber }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'postalCode' | translate}}" formControlName="postalCode" required>
                                    <mat-error>{{ formErrors.postalCode }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'city' | translate}}" formControlName="city" required>
                                    <mat-error>{{ formErrors.city }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'pesel' | translate}}" formControlName="pesel" required>
                                    <mat-error>{{ formErrors.pesel }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'password' | translate}}" type="password" formControlName="password" required>
                                    <mat-error>{{ formErrors.password }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'confirmPass' | translate}}" type="password" formControlName="confirmPassword" required>
                                    <mat-error>{{ formErrors.confirmPassword }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'email' | translate}}" formControlName="email" required>
                                    <mat-error>{{ formErrors.email }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field class="p-0 m-0">
                                    <input autocomplete="off" matInput placeholder="{{'phone' | translate}}" formControlName="phone">
                                    <mat-error>{{ formErrors.phone }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2 wow" data-wow-delay="0.2s">
                                <mat-form-field>
                                    <mat-label>{{'package' | translate}}</mat-label>
                                    <mat-select formControlName="package">
                                        <mat-option *ngFor="let i of packages" [value]="i.name">
                                            {{i.name.toLowerCase() | translate}} {{i.name.toLowerCase() === 'own' ? '**' : ''}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{ formErrors.package }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="example-container text-left mb-2">
                                <div>
                                    <mat-checkbox formControlName="terms" required></mat-checkbox>
                                    &nbsp;
                                    <span class="link" (click)="terms.show()">{{'terms' | translate}}*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center wow" data-wow-delay="0.2s">
                        <div class="card-body" *ngIf="currentPackage">
                            <div class="header rounded-top">
                                <div class="version p-3 color2">
                                    <h5 class="mb-0">{{currentPackage.name.toLowerCase() | translate}}</h5>
                                </div>
                                <h1 class="color1 number p-5">
                                    {{currentPackage.price}} {{'currency' | translate}} / {{'day' | translate}}
                                </h1>
                            </div>
                            <div class="card-body striped text-center scroll-cust" *ngIf="currentPackage">
                                <ul class="list-unstyled" *ngFor="let item of currentPackage.packages; let j = index">
                                    <span>
                                        <li class="mt-1 v-middle">
                                            <p class="text-center">
                                                <i class="fas fa-check"></i>
                                                {{item.name | translate}}
                                                <mdb-icon *ngIf="currentPackage.name === 'OWN'" class="red-text"
                                                    (click)="deletePackage(j)" far icon="trash-alt"></mdb-icon>
                                            </p>
                                        </li>
                                        <hr />
                                    </span>
                                </ul>
                                <div>
                                    <button type="button" mat-raised-button class="green-text" *ngIf="currentPackage.name === 'OWN' && customPackageLength !== packageItems.length" (click)="choicePackage.show()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <span *ngIf="currentPackage.name === 'OWN' && customPackageLength > 0 && customPackageLength !== packageItems.length">&nbsp;</span>
                                    <button type="button" mat-raised-button class="red-text" *ngIf="currentPackage.name === 'OWN' && customPackageLength > 0" (click)="deletePackage(-1)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="button">
                    <button *ngIf="!registerPending && currentPackage" (click)="register()" class="centerGlobal" [disabled]="!(registerForm.valid && currentPackage.price > 0)" type="submit" mat-raised-button color="primary">
                        <span>{{'signUp' | translate}}</span>
                    </button>
                    <div *ngIf="registerPending" class="spinner-border text-dark" role="status"></div>
                </div>
            </form>
            <div class="text-left">
                * - {{'mandatory' | translate}}<br/>** - {{'ownPlanRule' | translate}}
            </div>
        </div>
    </div>
</div>

<div mdbModal #choicePackage="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myChoicePackageLabelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body scroll">
                <app-register-package-choice (addPackageRequest)="addPackageRequest($event)" [customPackageLength]="customPackageLength" [packageStatus]="packageStatus" [packageProceed]="packageProceed" [id]="choicePackage" [packageItems]="packageItems">
                </app-register-package-choice>
            </div>
        </div>
    </div>
</div>

<div mdbModal #terms="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="terms" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body scroll">
                <div>
                    <div>1. ***</div>
                    <div>2. ***</div>
                    <div>3. ***</div>
                    <div>4. ***</div>
                    <div>5. ***</div>
                    <br />
                    <div class="text-center">
                        <button mdbBtn type="button" color="danger" (click)="terms.hide()" mdbWavesEffect>{{'close' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>