.margins {
    margin-top: 2%;
    margin-bottom: 2%;
}

.c {
    background-color: #283593 !important;
}

.badgeCont {
    width: 100%;
    text-align: center;
}

.scroll {
    max-width: 100%;
    max-height: 65vh;
    overflow: auto;
}

mdb-badge {
    min-width: 50%;
    width: auto;
    font-size: 130%;
    margin-bottom: 3%;
    opacity: 0.8;
    background-color: #283593;
}

.custH {
    background-color: whitesmoke;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

::ng-deep .mat-select,
input {
    font-weight: 500;
}

:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
    font-weight: bold;
    color: #283593;
}

::ng-deep .mat-select ::placeholder {
    font-weight: bold;
}

mat-form-field {
    display: block;
    padding: 1%;
}

form {
    margin-bottom: 2%;
}

.custB {
    background-color: rgba(245, 245, 245, 0.8);
}

.ng-container {
    width: 100%;
}

.custH {
    background-color: whitesmoke;
}

.addForm {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 2%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.custBtn {
    height: 50%;
}

.centerSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.biggerS {
    width: 5rem;
    height: 5rem;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
    mdb-badge {
        width: 90%;
    }
}