<div *ngIf="componentPending" class="centerSpinner">
    <div class="spinner-border biggerS" role="status"></div>
</div>
<div [hidden]="componentPending" class="container margins">

    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'messages' | translate}}
        </mdb-badge>
    </div>
    <div *ngIf="pageData.length > 0" class="scroll center custB">
        <table mdbTable>
            <thead class="custH borders">
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let el of pageData">
                    <td>{{el.name}}</td>
                    <td>{{el.email}}</td>
                    <td>{{el.phone}}</td>
                    <td>{{el.company}}</td>
                    <td>{{el.message}}</td>
                    <td>{{el.dateTime | formatDate: true}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator [hidden]="pageData.length === 0" [pageIndex]="page.pageNumber" class="custH borders" (page)="onPaginateChange($event)" [length]="dataLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>

    <div *ngIf="pageData.length === 0" class="centerGlobal animated fadeIn mb-3">
        <div class="card custB fit">
            <div class="card-body">
                <h4><strong>{{'noMessages' | translate}}</strong></h4>
            </div>
        </div>
        <br />
    </div>
</div>