<div class="container margins center1">
    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'newProcedure' | translate}}
        </mdb-badge>
    </div>

    <div class="p-3">

        <div class="addForm">
            <form [formGroup]="generateProcedureForm" #formDirective="ngForm">
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseDoctor' | translate}}" formControlName="doctor" (selectionChange)="onDoctorChoose()">
                                <mat-option *ngFor="let i of doctors; let j=index" value="{{j}}">{{i.name}} {{i.surname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseType' | translate}}" formControlName="license">
                                <mat-option *ngFor="let i of licenses; let j=index" value="{{j}}">{{i.name | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseTimeSpace' | translate}}" formControlName="timeSpaceInMinutes">
                                <mat-option *ngFor="let i of timeSpaceInMinutes" value="{{i}}">{{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseOffice' | translate}}" formControlName="office">
                                <mat-option *ngFor="let i of offices; let j=index" value="{{j}}">{{i.number}} {{i.surname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="{{'chooseStartDate' | translate}}" formControlName="startDate" autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="{{'chooseEndDate' | translate}}" formControlName="endDate" autocomplete="off" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="row center1">
                <div class="col col-md-6 text-center">
                    <mat-form-field class="24hr-example">
                        <input matInput placeholder="{{'chooseStartTime' | translate}}" (ngModelChange)="detectChangeStart($event)" autocomplete="off" aria-label="24hr format" [ngxTimepicker]="fullTime1" [format]="24" [(ngModel)]="startTime">
                        <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
                    </mat-form-field>
                </div>
                <div class="col col-md-6 text-center">
                    <mat-form-field class="24hr-example">
                        <input matInput placeholder="{{'chooseEndTime' | translate}}" (ngModelChange)="detectChangeEnd($event)" autocomplete="off" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24" [(ngModel)]="endTime">
                        <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="generateProcedureForm.controls.endDate.errors && generateProcedureForm.controls.endDate.errors.wrongDate" class="text-left">
                <p>{{'endDateTimeErr' | translate}}</p>
            </div>
            <br *ngIf="!(generateProcedureForm.controls.endDate.errors && generateProcedureForm.controls.endDate.errors.wrongDate)" />
            <br />
            <div class="row center1">
                <button mdbBtn type="button" color="danger" type="submit" mdbWavesEffect (click)="close()">{{'close' | translate}}</button>
                <button [disabled]="!(generateProcedureForm.valid && startTime.length > 0 && endTime.length > 0)" mdbBtn type="button" color="success" (click)="generate(formDirective)" type="submit" mdbWavesEffect>{{'generate' | translate}}</button>
            </div>
        </div>
    </div>
</div>