<div class="container margins center1">
    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'newPackage' | translate}}
        </mdb-badge>
    </div>

    <div class="p-3">

        <div class="addForm">
            <form [formGroup]="choicePackage" ngNativeValidate>
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseType' | translate}}" formControlName="type" (selectionChange)="onChooseFilterType()">
                                <mat-option *ngFor="let i of licenseType;" value="{{i}}">
                                    {{i | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'choosePackage' | translate}}" formControlName="index">
                                <mat-option *ngFor="let i of filteredPackages; let j=index" value="{{j}}">
                                    {{i.name | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <br />
                <div class="row center1">
                    <button mdbBtn type="button" color="danger" type="submit" mdbWavesEffect (click)="close()">{{'close' | translate}}</button>
                    <button mdbBtn type="button" color="success" (click)="onPackageChoose('ALL')" type="submit" mdbWavesEffect>{{'all' | translate}}</button>
                    <button [disabled]="!(choicePackage.get('index').enabled && choicePackage.get('type').value !== 'ALL')" mdbBtn type="button" color="success" (click)="onPackageChoose('FILTER')" type="submit" mdbWavesEffect>{{'allFromType' | translate}}</button>
                    <button [disabled]="!(choicePackage.valid)" mdbBtn type="button" color="success" (click)="onPackageChoose('CUSTOM')" type="submit" mdbWavesEffect>{{'selected' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>