/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
html {
    /* display: grid;
  grid-auto-flow: column; */
    min-height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Arimo', sans-serif !important;
}

body {
    min-height: 100%;
}

.borders {
    border: 2px solid lightgrey;
}

app-root {
    display: block;
    min-height: 100%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}

.centerGlobal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fit {
    max-width: fit-content;
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        min-width: 95vw !important;
    }
}