<div class="container margins center1">
    <div class="badgeCont animated fadeIn">
        <mdb-badge primary="true" class="text-wrap c">
            {{'newDoctorLicense' | translate}}
        </mdb-badge>
    </div>

    <div class="p-3">

        <div class="addForm">
            <form [formGroup]="generateDoctorLicenseForm" ngNativeValidate #formDirective="ngForm">
                <div class="row center1">
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseDoctor' | translate}}" formControlName="doctor" (selectionChange)="onDoctorChoose()">
                                <mat-option *ngFor="let i of doctors; let j=index" value="{{j}}">{{i.name}} {{i.surname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-6 text-center">
                        <mat-form-field>
                            <mat-select placeholder="{{'chooseLicense' | translate}}" formControlName="license">
                                <mat-option *ngFor="let i of licenses; let j=index" value="{{j}}">{{i.name | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <br />
                <div class="row center1">
                    <button mdbBtn type="button" color="danger" type="submit" mdbWavesEffect (click)="close()">{{'close' | translate}}</button>
                    <button [disabled]="!(generateDoctorLicenseForm.valid)" mdbBtn type="button" color="success" (click)="generate(formDirective)" type="submit" mdbWavesEffect>{{'generate' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>