.badgeCont {
    width: 100%;
    text-align: center;
}

mdb-badge {
    min-width: 50%;
    width: auto;
    font-size: 130%;
    margin-bottom: 3%;
    opacity: 0.8;
    background-color: #283593;
}

.margins {
    margin-top: 2%;
    margin-bottom: 2%;
}

.c {
    background-color: #283593 !important;
}

.border1 {
    border-bottom: 1px solid grey;
    color: #283593;
    min-width: 100%;
}

.addForm {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 2%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center1 {
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-select,
input {
    font-weight: 500;
}

::ng-deep .mat-select-panel mat-option.mat-option {
    height: unset;
}

::ng-deep .mat-option-text.mat-option-text {
    white-space: normal;
}

:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
    font-weight: bold;
    color: #283593;
}

::ng-deep .mat-select ::placeholder {
    font-weight: bold;
}

:host /deep/ .mat-form-field {
    min-width: 100%;
}