@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
a:hover {
    background-color: #3949ab;
}

a {
    font-size: 110%;
    font-family: 'Arimo', sans-serif !important;
}

hr {
    background-color: white;
}