<!--Navbar-->
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="!isLoggedIn()" routerLink="/" class="navbar-brand nav-item" (click)="closeNav(nav)">
            <mat-icon>home</mat-icon>
        </a>
    </mdb-navbar-brand>
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a *ngIf="isLoggedIn() && isPatient()" routerLink="/patient" class="navbar-brand" (click)="closeNav(nav)">
            <mat-icon>home</mat-icon>
        </a>
    </mdb-navbar-brand>

    <mdb-navbar-brand>
        <a *ngIf="isLoggedIn() && isAdmin()" routerLink="/admin" class="navbar-brand" (click)="closeNav(nav)">
            <mat-icon>home</mat-icon>
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a *ngIf="isLoggedIn() && isPatient()" routerLink="/appointments" class="nav-link waves-light" mdbWavesEffect (click)="closeNav(nav)">{{visitsText}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn() && isPatient()" routerLink="/check-ups" class="nav-link waves-light" mdbWavesEffect (click)="closeNav(nav)">{{testsText}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn() && isPatient()" routerLink="/procedures" class="nav-link waves-light" mdbWavesEffect (click)="closeNav(nav)">{{proceduresText}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn() && isAdmin()" routerLink="/message" class="nav-link waves-light" mdbWavesEffect (click)="closeNav(nav)">{{messagesText}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn()" routerLink="/messenger" class="nav-link waves-light" mdbWavesEffect (click)="closeNav(nav)">{{messengerText}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!isLoggedIn()" class="nav-link waves-light" mdbWavesEffect (click)="login(nav)">{{loginText}}</a>
            </li>
        </ul>
        <hr />
        <div class="nav-item">
            <a *ngIf="isLoggedIn()" class="nav-link waves-light text-white" mdbWavesEffect (click)="logout(nav)">{{logoutText}}</a>
        </div>
        <div class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light text-white" mdbWavesEffect>
                {{languageFullName}}<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" (click)="onChange('en_EN', nav)" mdbWavesEffect>English</a>
                <a class="dropdown-item waves-light" (click)="onChange('pl_PL', nav)" mdbWavesEffect>Polski</a>
            </div>
        </div>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->