<div *ngIf="componentPending" class="centerSpinner">
    <div class="spinner-border biggerS" role="status"></div>
</div>
<div *ngIf="!componentPending" class="container margins">
    <div class="wow fadeIn">
        <div class="badgeCont animated fadeIn">
            <mdb-badge primary="true" class="text-wrap c">
                <span>{{'messenger' | translate}}</span>
            </mdb-badge>
        </div>
        <div class="row tab">
            <i *ngIf="messages.length > 0" class="material-icons fa-3x" (click)="scrollToTop()">
                keyboard_arrow_up
            </i>
            <i *ngIf="messages.length > 0" class="material-icons fa-3x" (click)="scrollToBottom()">
                keyboard_arrow_down
            </i>
        </div>
        <div *ngIf="messages.length > 0" infiniteScroll [scrollWindow]="false" [infiniteScrollUpDistance]="0.1" [infiniteScrollThrottle]="300" (scrolledUp)="onScrollUp()" #scrollMe class="cont custB">
            <div *ngIf="loadingPending" class="centerGlobal m-2">
                <div class="spinner-border" role="status"></div>
            </div>
            <div class="centerGlobal" *ngFor="let el of messages; let i=index">
                <div class="cont1">
                    <span class="user">{{el.person.name}} {{el.person.surname}}</span>
                    <img src="../../assets/files/avatar.png" alt="Avatar">
                    <p class="text-wrap">{{el.message}}</p>
                    <span class="time-right">{{el.date | formatDate: true}}</span>
                </div>
            </div>
        </div>

        <div *ngIf="messages.length === 0" class="centerGlobal animated fadeIn">
            <div class="card custB fit">
                <div class="card-body">
                    <h4><strong>{{'noMessages' | translate}}</strong></h4>
                </div>
            </div>
            <br />
        </div>
        <form (ngSubmit)="saveMessage()" [formGroup]="messageForm" (keyup.enter)="saveMessage()">
            <div class="mt-3 row">
                <div class="col-md-11 p-2">
                    <textarea type="text" class="md-textarea form-control" mdbInput rows="3" formControlName="message"></textarea>
                </div>
                <div class="col-md-1 p-2">
                    <button [disabled]="messageForm.invalid || !canSend" mat-raised-button color="primary" class="h-100 w-100" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card custB1 fitContent p-1 mb-1" *ngIf="formErrors.message">
                <mat-error color="red">{{ formErrors.message }}
                </mat-error>
            </div>
        </form>

    </div>
    <div class="card custB1 fitContent p-2 fadeIn animated maxW">
        <mat-checkbox [(ngModel)]="scrollDown">{{'scrollDown' | translate}}</mat-checkbox>
    </div>
</div>