.margins {
    margin-top: 2%;
    margin-bottom: 2%;
}

.cont {
    overflow-y: scroll;
    max-height: 60vh;
    border: 2px solid lightgrey;
}

table {
    text-align: center;
    margin: auto;
}

.tab {
    justify-content: space-between;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

i {
    cursor: pointer;
}

i:hover {
    background-color: lightgrey;
}

.custH {
    background-color: whitesmoke;
}


/* Chat containers */

.cont1 {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    background-color: rgba(245, 245, 245, 0.7);
}


/* Clear floats */

.cont1::after {
    content: "";
    clear: both;
    display: table;
}

.custW {
    max-width: 50vh;
}


/* Style images */

.cont1 img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


/* Style the right image */

.cont1 img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}


/* Style time text */

.time-right {
    float: right;
}

.user {
    font-weight: bold;
}


/* Style time text */

.time-left {
    float: left;
}

.c {
    background-color: #283593 !important;
}

.badgeCont {
    width: 100%;
    text-align: center;
}

mdb-badge {
    min-width: 50%;
    width: auto;
    font-size: 130%;
    margin-bottom: 3%;
    opacity: 0.8;
    background-color: #283593;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.custB {
    background-color: rgba(255, 255, 255, 0.7);
}

.custB1 {
    background-color: rgba(245, 245, 245, 0.9);
}

.maxW {
    max-width: 100%;
    overflow-x: auto;
}

.custWidth {
    min-width: 13rem;
    width: auto;
}

.fitContent {
    width: fit-content;
}

.custW1 {
    max-width: 6rem;
}

.centerSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.biggerS {
    width: 5rem;
    height: 5rem;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
    mdb-badge {
        width: 90%;
    }
}