.backgroundC {
    background-color: rgba(245, 245, 245, 0.8);
}

.c {
    background-color: #283593 !important;
}

.badgeCont {
    width: 100%;
    text-align: center;
}

.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

mdb-badge {
    min-width: 50%;
    width: auto;
    font-size: 130%;
    margin-bottom: 3%;
    opacity: 0.8;
    background-color: #283593;
}

.pad {
    padding: 5%;
}

hr {
    color: #0d47a1;
    background-color: #0d47a1;
    border-color: #0d47a1;
}

.textRed {
    color: red;
}

.textGreen {
    color: green;
}

.custW {
    width: fit-content;
    min-width: 50vh;
}

.custM {
    margin-left: auto;
    margin-right: auto;
}

.scroll-cust {
    min-width: 50%;
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
}

.head {
    color: #283593;
    font-weight: bold;
}

.nav-pills>li>a.active {
    background-color: #3F51B5;
    color: white;
}

.nav-pills>li>a {
    color: #3F51B5;
}

.width {
    min-width: 50%;
    max-width: 100%;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
    mdb-badge {
        width: 90%;
    }
    .width {
        width: 90%;
    }
    .custW {
        width: 90vh;
    }
}