<div class="container">
    <div class="mt-4 mb-2">
        <div class="badgeCont animated fadeIn">
            <mdb-badge primary="true" class="text-wrap c">
                <div *ngIf="user; else el2">
                    <h2 class="text1"><strong>{{'welcome' | translate}} {{user.name}}</strong>!</h2>
                </div>
                <ng-template #el2>
                    <h2 class="text1"><strong>{{'welcome' | translate}} !</strong></h2>
                </ng-template>
            </mdb-badge>
        </div>
        <br />
        <div class="row wow fadeIn" data-wow-delay="0.4s">
            <div class="col-md-12">
                <div class="mb-2">

                    <ul class="nav nav-pills mb-3 flex-center" id="pills-tab" role="tablist">
                        <li class="nav-item text-center mr-2">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                <i class="material-icons fa-3x">
                                    account_box
                                </i>
                                <br /> {{'account' | translate}}</a>
                        </li>
                        <li class="nav-item text-center mr-2">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <i class="material-icons fa-3x">
                                    note
                                </i>
                                <br /> {{'packages' | translate}}</a>
                        </li>
                        <li class="nav-item text-center mr-2">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <i class="material-icons fa-3x">
                                    payment
                                </i>
                                <br /> {{'invoice' | translate}}</a>
                        </li>
                    </ul>

                </div>
                <br />
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="width card backgroundC text-center p-3 custW custM borders">
                            <div *ngIf="user; else el1">
                                <h3 class="text1"><strong>{{user.name}} {{user.surname}}</strong></h3>
                                <hr />
                                <div class="text-left">
                                    <h4>{{'email' | translate}}: <strong>{{user.email}}</strong></h4>
                                    <h4 *ngIf="user.phone">{{'phone' | translate}}: <strong>{{user.phone}}</strong></h4>
                                    <h4>{{'pesel' | translate}}: <strong>{{user.pesel}}</strong></h4>
                                    <h4>{{'address1' | translate}}: <strong>{{user.street}} {{user.houseNumber}}</strong>
                                        <strong *ngIf="user.apartmentNumber">/{{user.apartmentNumber}}</strong>
                                        <strong>, {{user.postalCode}} {{user.city}}</strong>
                                    </h4>
                                </div>
                                <br />
                                <button [disabled]="true" mdbBtn type="button" color="success" mdbWavesEffect>{{'change' | translate}}</button>
                            </div>
                            <ng-template #el1>
                                <h4><strong>{{'noInformation' | translate}}</strong></h4>
                            </ng-template>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="card backgroundC text-center p-3 custW custM borders scroll-cust">
                            <div *ngIf="user; else el1">
                                <h3 class="text1"><strong>{{packagePrice}} {{'currency' | translate}} /
                                        {{'day' | translate}}</strong></h3>
                                <hr />
                                <div *ngIf="visitPackages.length > 0">
                                    <h4 class="head">{{'visitPackage' | translate}}</h4>
                                    <div *ngFor="let item of visitPackages">
                                        <span>
                                            <h5><strong>{{item.name | translate}}</strong></h5>
                                        </span>
                                    </div>
                                    <br/>
                                </div>
                                <div *ngIf="testPackages.length > 0">
                                    <h4 class="head">{{'testPackage' | translate}}</h4>
                                    <div *ngFor="let item of testPackages">
                                        <span>
                                            <h5><strong>{{item.name | translate}}</strong></h5>
                                        </span>
                                    </div>
                                    <br/>
                                </div>
                                <div *ngIf="procedurePackages.length > 0">
                                    <h4 class="head">{{'procedurePackage' | translate}}</h4>
                                    <div *ngFor="let item of procedurePackages">
                                        <span>
                                            <h5><strong>{{item.name | translate}}</strong></h5>
                                        </span>
                                    </div>
                                    <br/>
                                </div>
                                <br />
                                <button [disabled]="true" mdbBtn type="button" color="success" mdbWavesEffect>{{'change' | translate}}</button>
                            </div>
                            <ng-template #el1>
                                <h4><strong>{{'noInformation' | translate}}</strong></h4>
                            </ng-template>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="width card backgroundC text-center p-3 custW custM borders">
                            <div *ngIf="nearestInvoice; else el">
                                <h3 class="text1"><strong>{{'nearestInvoice' | translate}}</strong></h3>
                                <hr />
                                <div class="text-left">
                                    <h4>{{'exposure' | translate}}:
                                        <strong>{{nearestInvoice.exposure | formatDate: false}}</strong></h4>
                                    <h4>{{'deadline' | translate}}:
                                        <strong>{{nearestInvoice.deadline | formatDate: false}}</strong></h4>
                                    <h4>{{'fee' | translate}}: <strong>{{nearestInvoice.fee}}
                                            {{'currency' | translate}}</strong></h4>
                                    <h4 *ngIf="!nearestInvoice.paid; else paid">{{'status' | translate}}: <strong class="textRed">{{'unpaid' | translate}}</strong></h4>
                                    <ng-template #paid>
                                        <h4>{{'status' | translate}}: <strong class="textGreen">{{'paid' | translate}}</strong></h4>
                                    </ng-template>
                                </div>
                                <br />
                                <button class="text-center" [disabled]="true" mdbBtn type="button" color="success" mdbWavesEffect>{{'pay' | translate}}</button>
                            </div>
                            <ng-template #el>
                                <h4><strong>{{'noInvoices' | translate}}</strong></h4>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>